In [1]:
print ("shiraz")

shiraz

In [3]:
print (1,2,3)

1 2 3

In [4]:
print("Naruto",2001)

Naruto 2001

In [5]:
print('This is a line')
print('Another line')
print('and the next text line')

This is a line
Another line
and the next text line

In [6]:
a= 10
print(a)

10

In [7]:
b=20
c=30
print(b,c)

20 30

In [11]:
city='LUCKNOW'
state='UP'
name='shiraz'
name='hussain'
n1,n2='shiraz','hussain'

In [12]:
food=input()
print(food)

In [ ]:
name=input("Enter your name")
print('Welcome',name)
amount=input("How much hour,will it take")
print("Why would you want",amount,'tea')

In [ ]:
a='apple'
type(a)

In [ ]:
a=66
type(a)

In [ ]:
a='300'
print(a,type(a))
b=int(a)
print(b,type(b))

In [ ]:
a=input("enter A=")
b=input("enter B=")
print(type(a),type(b))
a=int(a)
b=int(b)
print(a+b)

In [ ]:
num1=int(input("enter num1"))
num2=int(input("Enter num2"))
ans=num1*num2
print(ans)

# markdom

# operators

In [1]:
x=10
y=3

In [5]:
x+y

13

In [4]:
x-y

7

In [3]:
x*y

30

In [2]:
x/y

3.3333333333333335

In [6]:
x//y

3

In [7]:
x%y

1

In [8]:
x**y

1000

In [9]:
x+=5

In [10]:
x-=5

In [11]:
x*=5

In [12]:
x/=5

In [14]:
x<10

False

In [15]:
y<3

False

In [16]:
y==x

False

In [17]:
y>=x

False

In [18]:
y<=x

True

In [20]:
'apple'=='APPLE'

False

In [21]:
x>5 and x>100

False

In [22]:
x>3 or x<10

True

In [23]:
not x>100

True

In [24]:
x is y

False

In [25]:
x is not y

True

In [26]:
a=[1,3,8,10,2]

False

In [27]:
2 in a

True

In [28]:
15 in a

False

formateted string & msg.

In [36]:
i=10.5
b=6.10
area=i*b
print(i,b,area)
print("{}*{}={}".format(i,a,area))
print(f'{i}*{b}={area}')
print(f'{i}*{b}={area:.1f}')

10.5 6.1 64.05
10.5*[1, 3, 8, 10, 2]=64.05
10.5*6.1=64.05
10.5*6.1=64.0